{% load i18n %}
{% load static %}
{% load eventurl %}

<br />
<link rel="stylesheet" type="text/css" href="{% static 'pretix_eth/eth_plugin.css' %}" />

{% if payment_is_valid %}

<a id="pretix-order-detail-url"
  data-order-detail-url="{% eventurl event 'plugins:pretix_eth:event.order.payment_status' organizer=payment.order.event.organizer.slug event=payment.order.event.slug order=payment.order.code secret=payment.order.secret %}"></a>

{% if submitted_transaction_hash %}
<script>
  // Fetch build manifest on page load (cache: no-store is to ensure the manifest is always up to date - the bundles referenced in the manifest will still be cached as normal)
  // TODO rename static/web3modal-dist -> web-dist
  // TODO rename web3modal -> web
  // TODO 'web3modal' shouldn't appear anywhere in project
  // TODO update package.json
  fetch("/static/pretix_eth/web3modal-dist/manifest.json", { cache: "no-store" })
    .then(resp => resp.json())
    .then(manifest => {
      const payModule = document.createElement('script');

      payModule.setAttribute('src', manifest['periodicCheck.js']);
      payModule.setAttribute('type', 'text/javascript');

      document.body.appendChild(payModule);
    })
</script>

<div>
  <p>A payment for this order has already been submitted in transaction
      <!-- TODO show block explorer link here instead of just the hash? and/or add chainId? -->
    <strong>
      <span id="pretix-eth-submitted-transaction-hash"> <!-- WARNING run_periodic_check.js depends on this span existing if and only if the user has submitted a payment (ie. transaction hash) for this order -->
        {{ submitted_transaction_hash }}
      </span>
    </strong>
  </p>
</div>
{% endif %}

{% if order_accepting_payments %}
{% include "pretix_eth/web3modal.html" with payment=payment event=event %}

{% endif %}
<p>
  {% blocktrans trimmed %}
  Do not attempt to speed up your transaction! This can prevent our system from automatically confirming payments,
  causing further delays.
  Once you send your payment, our system will automatically check for
  confirmation. Please allow up to several hours. Once confirmed, you will
  get an email notification.
  {% endblocktrans %}
</p>

{% else %}

<p>
  <strong>
    {% blocktrans trimmed %}
    Your order is not yet complete. You may have tried to change the payment
    method but cancelled the process midway. Please choose a payment method
    by clicking the "Re-try payment or choose another payment method" button
    below.
    {% endblocktrans %}
  </strong>
</p>

{% endif %}
