{% csrf_token %}
{% load eventurl %}

<!-- TODO rename this file to something non-web3modal -->

<div class="lds-ring" id="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<!-- TODO s/web3modal/payment/ and in styles -->
<div id="web3modal">
    <div id="pay" class="pretix-eth-payment-steps">
        <button id="btn-pay"
            style="color:#fff;background-color:#007bff;border-radius:5px;padding:10px 15px;border:none;cursor:pointer;"
            data-transaction-details-url="{% eventurl event 'plugins:pretix_eth:event.order.transaction_details' organizer=payment.order.event.organizer.slug event=payment.order.event.slug order=payment.order.code secret=payment.order.secret pk=payment.pk %}">Click
            here to pay</button>
    </div>
    <div id="success">
        <p><strong>Your payment has been submitted in transaction <span
                    id="pretix-eth-transaction-hash"></span>.</strong></p>
        <p><strong>Once the payment has been confirmed on our side we will send you an email.</strong></p>
    </div>
    <div><strong><span id="message-error"></span></strong></div>
</div>

<script>
    // Fetch build manifest on page load (cache: no-store is to ensure the manifest is always up to date - the bundles referenced in the manifest will still be cached as normal)
    fetch("/static/pretix_eth/web3modal-dist/manifest.json", { cache: "no-store" })
        .then(resp => resp.json())
        .then(manifest => {
            const web3modalModule = document.createElement('script');

            web3modalModule.setAttribute('src', manifest['main.js']);
            web3modalModule.setAttribute('type', 'text/javascript');

            document.body.appendChild(web3modalModule);
        })
</script>
